:root {
  --black: #000;
  --second-black: #212529;
  --white: #FFF;
  --gray: #CCC;
  --yellow: #DAFF01;
  --purple: #9353FF;
  --peach: #EE6471;
  --orange: #F87F46;
  --first-type: 'Inter';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3, p {
  font-family: var(--first-type);
}

.categories {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem 10rem;
}

@media (max-width: 768px) {
  .categories {
    padding: 3rem 1rem;
  }
}

@media (max-width: 1024px) {
  .categories {
    padding: 3rem 1rem;
  }
}
